
@{
    ViewBag.Title = "ThenThen";
}

<h2>ThenThen</h2>
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script>
    function p1() {
        return new Promise(function (resolve, reject) {
            reject(new Error("网络错误"))
        })
    }
   

    async function Getdata() {
        try {
            var t1 = await p1();
        }
        catch (e) {
            console.log(e);
        }
    }

    $(function () {
        Getdata();
    })

  



</script>

